body {
  margin: 0px;
  background-image: url("images/background.jpg");
}
h1 {
  font-size: 50px;
  margin: 0px;
}
h3 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 25px;
}
header,
h2,
footer p {
  text-align: center;
}
h2,
card button,
p {
  color: white;
}

header {
  background: rgb(54, 54, 54);
  padding: 0px;
  color: rgb(208, 198, 198);
  font-family: "Prata", serif;
  margin-bottom: 100px;
}
header,
footer {
  flex-shrink: 0;
  flex-basis: 100%;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
}

h2 {
  font-size: 30px;
  margin: 10px;
  text-decoration: rgb(63, 69, 106) underline;
  border-radius: 5px;
}
h2,
card button {
  background: rgb(62, 62, 62);
}

card {
  padding: 10px;
  border: 1px solid black;
  height: 330px;
  margin: 10px;
  border-radius: 40px;
  background: rgb(28, 27, 28);
  box-shadow: 7px 10px rgba(28, 28, 28, 0.2);
}
card button {
  border-radius: 20px;
  padding: 15px;
  margin: 5px auto;
  font-size: 16px;
  display: block;
}
button:hover {
  cursor: pointer;
  color: black;
  background: white;
  transition: 200ms ease-in-out;
}
img {
  width: 420px;
  height: auto;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
card p {
  font-size: 18px;
  display: none;
  max-width: 420px;
}
footer p {
  margin-top: 40px;
}
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    margin-top: 10px;
  }
  header {
    margin-bottom: 10px;
  }
}
